*
{
  margin:0px;
  padding: 0%;
  box-sizing: border-box;
  font-family:'poppins' , sans-serif;
}
body
{
  color:#ffffff;
}
.header{
  position: fixed;
  top: 5px;
  left: 0;
  width: 100%;
  padding: 3% 10%;
  background: transparent;
  display: flex;
  justify-content:space-between ;
  align-items: center;
  z-index: 100;

}
.logo{
  position: relative;
  font-size: 50px;
  color: #0c036a;
  font-weight: 600;
  text-decoration: none;
}
.header a:hover{
  color: #0ef;
}
.navbar a{
 font-size: 35px;
 display: inline;
 text-decoration: none;
 transition: 0.2s;
 margin-left: 35px;
 text-align: center;
 font-weight: 700;
}
.navbar a:hover{
  color: aqua;
}
.home{
  position:relative;
  width: 100%;
 justify-content:left;
  height: 130vh;
  background: url(/desi_learners/photos/bg.jpg) no-repeat;
  background-size:cover;
  background-position:center;
  display: flex;
  align-items: center;
  padding : 100px 10% 0;
}
.home-content{
  font-size: large;
  max-width: 600px;
}
.home-content h3{
  font-size: 32px;
  font-weight: 700;

}
.home-content h1{
  font-size: 58px;
  font-weight: 600;
  margin: -3px 0px;
}
.home-content p{
  font-size: 22px;
}
.name a:hover{
  color: #0ef;
}
.home-sci a{
  display:inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
 color: rgb(135, 158, 160);
 text-decoration: none;
 margin:30px 15px 20px 0;
}
.home-sci a:hover{
  color: rgb(16, 1, 44);
  background: #0ef;
  box-shadow: 0 0 20px #0ef;
}
.more{
  font-size: 28px;
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
  padding: 12px 30px;
  border: solid;
  border-radius: 40px;
  color: #03012b;
  font-weight: 600;
  background: #0ef;
}
.moree a:hover{
 box-shadow:  0 0 5px #0ef,
  0 0 25px #0ef,0 0 50px #0ef
  , 0 0 100px #0ef;

}





